body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255); /* default body color */
    text-align: center;
    margin-top: 12%;
    margin-bottom: 10%;
}

#countdown_timer_frame {
    border-top: solid white 5px;
    border-bottom: solid white 5px;
    border-radius: 20px;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.centered_styled_div {
    /* with box shadow */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    border: solid black 5px;
    border-radius: 20px;
    margin-top: 50px;
    margin-right: 20%;
    margin-left: 20%;
    -webkit-box-shadow: 26px 26px 10px 6px rgba(34, 60, 80, 0.19);
    -moz-box-shadow: 26px 26px 10px 6px rgba(34, 60, 80, 0.19);
    box-shadow: 26px 26px 10px 6px rgba(34, 60, 80, 0.19);
}

.data_container {
    display: flex; 
    flex-direction: column; 
}

.three_d_text {
    /* 3D text style */
    text-shadow: 
        0 1px 0 #000000, 0 2px 0 #000000,
        0 3px 0 #000000, 0 4px 0 #000000;
}