<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>🕐New year countdown timer</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
    <body>
        <h1>🕐New year countdown timer</h1>
        <div class="centered_styled_div" id="settings_frame">
            <div class="row">
                <h3>Settings:</h3>
                <form action="/set_time_format" method="post">
                    <select name="time_format" id="time_format_select">
                        <option value="am">AM</option>
                        <option value="pm" selected>PM</option>
                    </select>
                    <input value="set time format" type="submit">
                </form>
                <form action="/set_time_zone" method="post">
                    <select name="time_zone" id="time_zone_select">
                        <optgroup>
                            <option value="-12">-12</option>
                            <option value="-11">-11</option>
                            <option value="-10">-10</option>
                            <option value="-9">-9</option>
                            <option value="-8">-8</option>
                            <option value="-7">-7</option>
                            <option value="-6">-6</option>
                            <option value="-5">-5</option>
                            <option value="-4">-4</option>
                            <option value="-3">-3</option>
                            <option value="-2">-2</option>
                            <option value="-1">-1</option>
                        </optgroup>
                        <option value="0" selected>0</option>
                        <optgroup>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </optgroup>
                    </select>
                    <input value="set time zone" type="submit">
                </form>
            </div>
        </div>    
        <div class="centered_styled_div" id="now_data_frame">
            <div id="datetime_now_frame" class="row">
                <h3>Now:</h3>
                <p id="current_time_view">🕐00:00:00 | 📆0-0-0 | ☀️month</p>
            </div>
        </div>    
        <div class="centered_styled_div" id="other_data_frame">
            <div class="row">
                <h2>Countdown timer until new</h2>
                <h2 id="new_year_view" class="three_d_text">0000</h2>
                <h2>year:</h2>
            </div>
            <h1 id="time_left_until_new_year_view" class="three_d_text"></h1>
            <button id="copy_time_left_data">copy</button>
        </div>
        <script src="/static/scripts/ajax_requests.js"></script>
        <script src="/static/scripts/user_events.js"></script>
    </body>
</html>